<div *ngIf="light && lightId" class="card">
    <div class="card-header bg-primary text-light">
        Light {{ lightId }}: {{ light.name }}
    </div>
    <div class="card-body" [style.background-color]="newColor.hex">
        <div class="sketch-picker mx-auto">
            <color-sketch
                [color]="color"
                (onChangeComplete)="HandleChangeComplete($event)"
            >
            </color-sketch>
        </div>
    </div>
    <div class="card-footer">
        <span>Enabled:</span>
        <app-switch [lightId]="lightId" [value]="light.state.on"></app-switch>
    </div>
</div>
